name: RsRiscV Emulator CI

on: 
  push:
    branches: ["master", "develop"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build & Test (riscv-tests)
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - uses: Swatinem/rust-cache@v2
    
    - name: Build
      run: cargo build --verbose

    - name: Run Unit Tests
      run: cargo test --lib --verbose
      
    - name: Run Integration Tests (RISC-V Tests)
      run: cargo test --test '*' -- --nocapture